<div class="container">
  <!-- Content here -->
     <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/home">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/userManager">Quản lý tài khoản</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/productManager">Quản lý hàng hóa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/order">Đơn hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/statistical">Thống kê</a>
            </li>
        </ul>

        <!-- Tab panes -->
       