
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form method="POST" onsubmit="return false" id="login">
        <div class="txt_field">
          <input type="email" id="emailID" placeholder="Email">
          <span></span>
        </div>
        <p class="err" ></p>
        <div class="txt_field">
          <input type="password" id="passwordID" placeholder="Password">
          <span></span>
        </div>
         <p class="err"></p>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login" id="submitID">
        <div class="signup_link">
          Not a member? <a href="#">Signup</a>
        </div>
      </form>
    </div>

  </body>
  <script src="Login.js"></script>
</html>